include *.md *.py
recursive-exclude dev *
recursive-include docs *.md *.py
recursive-exclude experimental *
recursive-include klustaviewa *.md *.py *.pyw *.png *.ico *.bmp *.css *.qrc *.c *.pyx

recursive-include kwiklib *.md *.py
recursive-include kwiklib/dataio *.md *.py
recursive-include kwiklib/scripts *.md *.py
recursive-exclude kwiklib/scripts/data *.*
recursive-include kwiklib/utils *.md *.py

recursive-include qtools *.md *.py *.png
recursive-include qtools/tests *.md *.py *.png

recursive-include galry *.md *.py *.png *.fnt
recursive-include galry/test *.md *.py
recursive-exclude galry/test/autosave *.png
recursive-include galry/test/autosave *REF.png

exclude setup_dev.py
include windows_install.bat